# 4-Laboratory-29-10-2020 L

| Credits to the authors of the exercises: Andrea Pasini, Giuseppe Attanasio, Flavio Giobergia
| Master of Science in Data Science and Engineering, Politecnico di Torino, A.A. 2020-21

# KNN design and Implementation
In this exercise, you will implement your own version of the the K-Nearest Neighbors algorithm, and you will use it to assign a Iris species (i.e. a label) to flowers whose species is unknown. The KNN algorithm is straightforward. Suppose that some measurements (i.e. records) and the irrelative species are known in advance. Then, whenever we want to label a new flower, we look at the Kmost similar points (a.k.a. neighbors) and assign a label accordingly. The simplest solution is using amajority voting scheme: if the majority of the neighborsvotesfor a label, we will go for it. This approachis naive only at first sight: the local similarity assumed by KNN happens to be roughly true. Even thoughthis reasoning does not generalize well1, the KNN provides a valid baseline for your tasks.

### Steps

1. Load the Iris dataset

In [1]:
# I import in adive the libraries that I'll using during this lab
import pandas as pd
import numpy as np

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header=None)
df.head(2)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa

2. Let’s identify a portion of our data for which we will try to guess the species. Randomly select 20% of the records and store the first four columns (i.e. the features representing each flower) into atwo-dimensional numpy array of shape N×C, you can call it X_test. For the same records, store the last column (i.e. the one with the species values) into another array,namely y_test. This is the data that will be used to test the accuracy of your KNN implementationand its correct functioning (i.e. the testing data)

I know the possibility to do easily with scikit learn, but since we didn't study it already, I'll do it without any particular help

In [57]:
X_test = df.sample(int(len(df)/5)) #20% means len/5
y_test = X_test[4] # pandas' column are already numpy array
X_test = X_test.drop(columns=[4])

In [58]:
X_test.head()

       0    1    2    3
37   4.9  3.1  1.5  0.1
92   5.8  2.6  4.0  1.2
78   6.0  2.9  4.5  1.5
130  7.4  2.8  6.1  1.9
19   5.1  3.8  1.5  0.3

In [59]:
y_test.head()

37         Iris-setosa
92     Iris-versicolor
78     Iris-versicolor
130     Iris-virginica
19         Iris-setosa
Name: 4, dtype: object

In [64]:
# index used
X_test.index

Int64Index([ 37,  92,  78, 130,  19, 100, 126,  59,  12,  76,  98,  46, 109,
            117,  72,   6, 134,  64, 148,  65,  58, 145,  82,  47, 147,  80,
              1, 127, 132,  69],
           dtype='int64')

3. Store the remaining 80% of the records in the same way. In this case, use the namesX_trainandy_trainfor the arrays. This is the data that your model will use as ground-truth knowledge (i.e. thetraining data)

In [65]:
X_train = df[[0,1,2,3]].drop(X_test.index)
y_train  = df[4].drop(y_test.index)

In [66]:
X_train.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4

In [67]:
y_train.head()

0    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: 4, dtype: object

4. Implement now the KNN algorithm and expose it as a Python class. Implement the fit method first. Here, you should only keep track of the main attributes that will be used by the algorithm. In this version of the algorithm, does the KNN need to store all the samples of X_train and y_train?

In [74]:
class KNearestNeighbors:
    def __init__(self, k, distance_metric="euclidean"):
        self.k = k
        self.distance_metric = distance_metric
        
    def fit(self, X, y):
        """
            Store the'prior knowledge' of you model that will be used 
            to predict new labels.
            
            :param X : input data points, ndarray, shape = (R,C).
            :param y : input labels, ndarray, shape = (R,).
        """
        self.X = X
        self.y = y
    
    def predict(self, X):
        """
            Run the KNN classification on X.
            
            :param X: input data points, ndarray, shape = (N,C).
            :return: labels : ndarray, shape = (N,)."""
        pass# TODO: implement it!

Well, I think in this case we cannot say precisely, but I think we will answer later and we'll say if we notice a possible underfitting or overfitting

5. To identify the K closest points, or neighbors, a notion of distance is required. Your implementation must support three different distance definitions. Given two n-dimensional points p= (p1, p2, . . . , pn) and q= (q1, q2, . . . , qn), the euclidean distance is defined as

<center>$ed(p,q) = \sqrt{(\sum_{i=1}^{n} (p_i - q_i)^2} $</center>

In [78]:
import math

def euclidean_distance(a,b):
    return math.sqrt(sum((a-b)**2))

The second distance function is the cosine distance, which is defined as: 

<center>$cd(p,q) = 1 - |cs(p,q)|$</center>

where <u>cs</u> is the cosine similarity, defined as:

<center>  $ cs(p,q) = \frac {\sum_{i=1}^{n} p_iq_i}{\sqrt{(\sum_{i=1}^{n}p_i^2)}\sqrt{\sum_{i=1}^{n}q_i^2}}$ </center>

In [86]:
def cosine_distance(a,b):
    cs = sum(a*b)/(math.sqrt(sum(a**2))*math.sqrt(sum(b**2)))         
    return 1 - abs(cs)

The third distance is the Manhattan distance. The distance is defined as:

<center>$md(p,q) = \sum_{i=1}^{n} | p_i - q_i | $</center>

In [87]:
def manhattan_distance(a,b):
    return sum(abs(a-b))